{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %}
{% block content %}
<div class="container form_container" id="form_container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-xl-9 mx-auto">
        <h1
          class="text-dark mb-3 justify-content-center"
          style="font-family: Rubik, sans-serif;"
        >
          Translate a YouTube video from English to other language(currently
          only Bengali).
        </h1>
      </div>
    </div>

    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      <form
        id="input_form"
        action="."
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form|crispy }}
        <div
          id="translate_onclick"
          class="d-flex justify-content-center align-items-center"
        >
          <button
            type="submit"
            class="btn btn-primary btn-lg mx-auto translate_button"
          >
            Translate
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Start of Tawk.to Script-->
<!-- <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/60803cac5eb20e09cf353a94/1f3qeq0rf';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script> -->
  <!--End of Tawk.to Script -->
{% endblock content %}
